services:
  webservice:
    image: dbpromotions
    build:
      context: .
    env_file:
      - .env.docker # no credentials!
    restart: unless-stopped
    ports:
      - 0.0.0.0:8022:8022
    volumes:
      - ./data/users.sqlite:/app/data/users.sqlite
      - ./dbpromotions:/app/dbpromotions
  jobs:
    image: dbpromotions
    build:
      context: .
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./data/:/app/data/
      - ./run_tasks.sh:/app/run_tasks.sh
      - ./dbpromotions:/app/dbpromotions
    command: /bin/sh -c "/app/run_tasks.sh"
