<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Promotion Candidates</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.css" />
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/4.0.2/css/fixedHeader.dataTables.min.css" />
    <script src="https://cdn.datatables.net/fixedheader/4.0.2/js/dataTables.fixedHeader.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/3.0.4/css/responsive.dataTables.min.css" />
    <script src="https://cdn.datatables.net/responsive/3.0.4/js/dataTables.responsive.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/select/3.0.1/css/select.dataTables.min.css" />
    <script src="https://cdn.datatables.net/select/3.0.1/js/dataTables.select.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/searchpanes/2.3.3/css/searchPanes.dataTables.min.css" />
    <script src="https://cdn.datatables.net/searchpanes/2.3.3/js/dataTables.searchPanes.min.js"></script>

    <link href="{{ url_for("static", filename="app.css" ) }}" rel="stylesheet">
    <script src="{{ url_for("static", filename="app.js" ) }}"></script>

    <meta name="viewport" content="width=device-width" />

    <meta name="contrib_max_del_perc" content="{{contrib_max_del_perc}}">
    <meta name="builder_max_del_perc" content="{{builder_max_del_perc}}">
    <meta name="max_deleted_bad" content="{{max_deleted_bad}}">
    <meta name="max_deleted_warning" content="{{max_deleted_warning}}">

    <link rel="icon" type="image/jpg" href="https://cdn.donmai.us/original/bd/07/bd0796d30c0ddd8c33d40ce455ef7ea5.jpg">
</head>

<body>
    <div id="prrrrrrrromotions1" class="prrrrrrrromotions"></div>
    <div id="prrrrrrrromotions2" class="prrrrrrrromotions"></div>
    <div id="container">
        <h1>Promotion Candidates for Danbooru</h2>
        <p class="small">Only users with edits within the last month are shown. Each user is updated at least once a week.</p>
        <!-- <p class="small">"Hide" will ignore a user across all reports for one month.</a></p> -->

        <table id="users" class="cell-border order-column compact stripe hover" style="display: none">
            <thead>
                <tr>
                    <!-- <th>Hide</th> -->
                    <th>ID</th>
                    <th>Level</th>
                    <th>User</th>
                    <th></th>
                    <th>Uploads</th>
                    <th>Deleted Uploads</th>
                    <th>Total %</th>
                    <th>Recent Uploads</th>
                    <th>Recent Deleted</th>
                    <th>Recent %</th>
                    <th>Notes</th>
                    <th>Edits</th>
                    <th>Last Edit</th>
                </tr>
            </thead>

            <tbody>
                {% for user in users %}
                <tr class="{{ user.html_classes }}" data-user-id="{{ user.id }}">
                    <!-- <td><input type="checkbox" class="user-checkbox" data-user-id="{{ user.id }}"></td> -->
                    <td class="userid">{{ user.id }}</td>
                    <td class="level" data-order="{{ user.level }}">{{ user.level_string|title }}</td>
                    <td class="username"><a href="{{ user.url }}" target="_blank">{{ user.name }}</a></td>
                    <td class="promote"><a href="{{ user.promote_url }}" target="_blank">Promote</a>
                    <td class="totalUploaded">{{user.total_posts}}</td>
                    <td class="totalDeleted">{{user.total_deleted_posts}}</td>
                    <td class="totalRatio">{{ user.html_total_deletion_ratio }}</td>
                    <td class="recentUploaded"><a href="{{ user.recent_posts_url }}" target="_blank">{{ user.recent_posts }}</a></td>
                    <td class="recentDeleted"><a href="{{ user.recent_deleted_posts_url }}" target="_blank">{{ user.recent_deleted_posts }}</a></td>
                    <td class="recentRatio">{{ user.html_recent_deletion_ratio }}</td>
                    <td class="totalNotes"><a href="{{ user.note_edits_url }}" target="_blank">{{ user.total_note_edits }}</a></td>
                    <td class="totalEdits"><a href="{{ user.post_edits_url }}" target="_blank">{{ user.post_edits }}</a></td>
                    <td class="lastEdit" data-order="{{ user.last_edit_dt | days_ago }}">{{ user.last_edit_dt | days_ago_str }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </container>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            window.DBPromotions.initialize();
        });
    </script>
</body>

</html>
