{% macro user_table(users, table_id) %}
<table id="{{ table_id }}">
    <thead>
        <tr>
            <th>Hide</th>
            <th>ID</th>
            <th>User</th>
            <th>Uploads</th>
            <th data-sort-default aria-sort="ascending">Recent Uploads</th>
            <th>Recent Deleted</th>
            <th>Recent %</th>
            <th>Notes</th>
            <th>Edits</th>
            <th>Last Edit</th>
        </tr>
    </thead>

    <tbody>
        {% for user in users %}
        <tr class="{{ user.html_classes }}" data-user-id="{{ user.id }}">
            <td><input type="checkbox" class="user-checkbox" data-user-id="{{ user.id }}"></td>
            <td class="userid">{{ user.id }}</td>
            <td class="username"><a href="{{ user.url }}" target="_blank">{{ user.name }}</a></td>
            <td class="totalUploaded">{{user.total_posts}}</td>
            <td class="recentUploaded"><a href="{{ user.recent_posts_url }}" target="_blank">{{ user.recent_posts }}</a></td>
            <td class="recentDeleted"><a href="{{ user.recent_deleted_posts_url }}" target="_blank">{{ user.recent_deleted_posts }}</a></td>
            <td class="recentRatio" data-sort="{{ user.html_sort_ratio }}">{{ user.html_deletion_ratio }}</td>
            <td class="notes">{{ user.total_note_edits }}</td>
            <td class="totalEdits"><a href="{{ user.post_edits_url }}" target="_blank">{{ user.post_edits }}</a></td>
            <td class="lastEdit" data-sort="{{ user.last_edit_dt.timestamp() }}">
                {{user.last_edit_dt.strftime("%Y-%m-%d")}}<br>({{ user.last_edit_dt | days_ago }})
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}
